<div class="card">
    <div class="flex text-sm border-round border justify-center" [style.backgroundColor]="list.bgcolor">
        <span class="custom-marker" [style.backgroundColor]="list.bgcolor">
            <i [ngClass]="list.bgicon" style="color: white;"></i>
        </span>
        <span class="font-semibold pl-2 mt-3" style="color: white;">{{ list.title }}</span>
    </div>

    <div class="flex flex-wrap gap-2">
        @if (list.creaOportunidad !== 0 && list.listId === '0') {
            <div class="w-full mt-2 flex">
                <button pButton pRipple label="Nuevo Lead" icon="pi pi-plus font-semibold" 
                class="justify-center font-semibold w-full border-round" (click)="insertCard()"></button>
            </div>
        }
        

        <div [id]="list.listId" class="flex flex-col gap-2 mb-6 mt-2 scrollable overflow-y-auto kanban-column" 
            cdkDropList 
            (cdkDropListDropped)="dropCard($event)" 
            [cdkDropListData]="list.cards" 
            [cdkDropListConnectedTo]="listIds" #listEl>
            
            @for (card of list.cards; track $index){
            <c-kanban-card [card]="card" [listId]="list.listId" (click)="onCardClick($event, card)" cdkDrag cdkDragHandle [cdkDragDisabled]="isMobileDevice()"></c-kanban-card>
            }
            
        </div>
        
    </div>
</div>
@if (blockedDocumentk()) {
    <app-c-progress-spinner [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
}
