@if (visOportunidad) {
<div class="card">
    <div class="flex justify-content-between col-12 gap-2 mb-3">
        <div class="flex border-round fonthead w-full align-items-center">
            <span class="text-base font-bold m-2">ACCIONES PENDIENTES</span>
        </div>
    </div>

    <form [formGroup]="frmDatos" class="p-fluid grid">
        <div class="flex flex-wrap gap-3 lg:w-1/1 mb-3">
            <div class="flex flex-col gap-1">
                <label class="font-semibold">Desde</label>
                <p-datepicker formControlName="fechaini" dateFormat="dd/mm/yy" inputId="yearpicker" [showIcon]="true" size="small"></p-datepicker>
            </div>
            <div class="flex flex-col gap-1">
                <label class="font-semibold">Hasta</label>
                <p-datepicker formControlName="fechafin" dateFormat="dd/mm/yy" inputId="yearpicker" [showIcon]="true" size="small"></p-datepicker>
            </div>
            <div class="flex flex-col grow basis-0 gap-1">
                <button pButton type="button" pTooltip="Consultar" tooltipPosition="bottom" class="font-semibold mt-5 h-3rem w-3rem w-auto bg-blue-500 ml-2" icon="pi pi-search" (click)="cargarOportunidades()"></button>
            </div>
            <div class="flex gap-3 p-3">
                <div class="col-span-3 lg:col-span-6 xl:col-span-3 flex">
                    <div class="flex justify-between gap-3">
                        <span class="block text-muted-color font-bold text-lg">Pendientes de Resolver: </span>
                        <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border ml-2" style="width: 2.5rem; height: 2rem">
                            <div class="text-blue-900 dark:text-surface-0 font-bold text-xl">{{opor_pendiente}}</div>
                        </div>
                    </div>
                    <div class="flex justify-between gap-3 ml-5">
                        <span class="block text-muted-color font-bold text-lg">Total Oportunidades: </span>
                        <div class="flex items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-border ml-2" style="width: 2.5rem; height: 2rem">
                            <div class="dark:text-surface-0 font-bold text-xl text-orange-500">{{opor_total}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <p-table
        #dt1
        [value]="lstOportunidades()"
        [rows]="25"
        [rowHover]="true"
        [tableStyle]="{'min-width': '50rem'}"
        [paginator]="true"
        [showCurrentPageReport]="true"
        [resizableColumns]="true"
        [rowsPerPageOptions]="[25,50]"
        selectionMode="single"
        currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros"
        size="small"
    >
        <ng-template pTemplate="header">
            <tr>
                <th rowspan="2">N°</th>
                <th rowspan="2">N° OPOR.</th>
                <th rowspan="2">OPORTUNIDAD</th>
                <th rowspan="2">CLIENTE</th>
                <th rowspan="2">MONTO</th>
                <th rowspan="2">F. CIERRE</th>
                <th rowspan="2">F. ENTREGA</th>
                <th rowspan="2">ETAPA</th>
                <th rowspan="2">%</th>
                <th colspan="4">ACCIONES</th>
            </tr>
            <tr>
                <th>SIG. ACCIÓN</th>
                <th>PRIORIDAD</th>
                <th>DESCRIPCIÓN</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
                <td>{{rowIndex + 1}}</td>
                <td>{{data.id}}</td>
                <td>
                    <div style="width: 100px">{{data.title | uppercase }}</div>
                </td>
                <td>
                    <div style="width: 150px">{{data.razonsocial | uppercase }}</div>
                </td>
                <td>{{data.simbmoneda + ' '}} {{ data.monto | number: "0.2-2"}}</td>
                <td>{{data.dueDate}}</td>
                <td>{{data.fechafinal}}</td>
                <td>{{ data.nomlista | uppercase }}</td>
                <td>{{data.porcentaje }}</td>
                <td>
                    <div style="width: 30px">{{data.fecplan}}</div>
                </td>
                <td>
                    <div style="width: 40px">{{data.desprioridad | uppercase }}</div>
                </td>
                <td>
                    <div style="width: 100px">{{data.desplan | uppercase }}</div>
                </td>
                <td>
                    <div class="flex align-items-center m:justify-content-end">
                        <button pButton text type="button" icon="pi pi-cog text-red-500" tooltipPosition="left" pTooltip="Configurar Siguiente Acción" (click)="onAccion(data)"></button>
                        <button pButton text type="button" icon="pi pi-file-edit" tooltipPosition="left" pTooltip="Editar Oportunidad" (click)="verOportunidadMnt(data)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="13">No se encontraron registros.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="13">Cargando datos. Espere por favor.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
}
@if (visMntOportunidad) {
    <app-c-lead-reg  [IS_Data]="dataOportunidad" (OB_back)="getOportunidadKanban($event)"/>
}

<p-toast />
@if(blockedDocument()){<app-c-progress-spinner [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>}
