
::ng-deep 

  .testDialog {
    .p-dialog-header{
        background:#0288d1;
        height: 3.5rem;
        color: white;

      .p-dialog-header-icons{
        .p-dialog-header-icon{
            color: white;
        }
      }
    }
  }
