@if (visOportunidad()) {
<div class="card gap-2">
    <div class="flex col-12 gap-2 mb-3">
        @if(this.idperfil === 3){
        <div>
            <button pButton class="font-semibold p-button-outlined" icon="pi pi-file" label="Nuevo" (click)="nuevoLead()"></button>
        </div>
    }
        <div class="flex border-round fonthead w-full align-items-center">
            <span class="text-base font-bold m-2">INICIATIVAS DEL PREVENTA</span>
        </div>
    </div>

    <p-card>
    <form [formGroup]="frmDatos" class="p-fluid grid">
        <div class="flex flex-wrap gap-3 lg:w-1/1">         
            <div class="flex flex-col gap-1">
                <label class="font-semibold">Desde</label>
                <p-datepicker formControlName="fechaini" dateFormat="dd/mm/yy" inputId="yearpicker" [showIcon]="true" size="small"></p-datepicker>
            </div>
            <div class="flex flex-col gap-1">
                <label class="font-semibold">Hasta</label>
                <p-datepicker formControlName="fechafin" dateFormat="dd/mm/yy" inputId="yearpicker" [showIcon]="true" size="small"></p-datepicker>
            </div>
            <!-- <div class="flex flex-col grow basis-0 gap-1">
                    <label class="font-semibold">Cliente</label>
                    <p-select
                        [options]="lstProveedores()"
                        formControlName="idcliente"
                        id="idcliente"
                        placeholder="Seleccionar Cliente..."
                        optionLabel="nomcomercial"
                        optionValue="idcliente"
                        size="small"
                        [filter]="true"
                        (onChange)="listarOportunidades()"
                    ></p-select>
                </div> -->
            <!-- <div class="flex flex-col grow gap-1">
                    <label class="font-semibold">Oportunidad</label>
                    <p-select
                        [options]="lstOportunidad()"
                        formControlName="idoportunidad"
                        placeholder="Seleccionar Oportunidad..."
                        optionLabel="nomcomercial"
                        optionLabel="titulo"
                        appendTo="body"
                        [filter]="true"
                        optionValue="id"
                        size="small"
                    ></p-select>
                </div> -->
            <div class="field grow basis-0 mt-5">
               
                <button pButton type="button" (click)="getBuscar()" pTooltip="Buscar Registros" tooltipPosition="bottom" 
                class="font-semibold justify-content-center h-3rem w-3rem" icon="pi pi-search"></button>
                
            </div>
        </div>
    </form>
    </p-card>

    <p-card class="mt-2">
    <p-table
        #dt1
        [value]="lstOportunidades()"
        [rows]="25"
        [rowHover]="true"
        [tableStyle]="{'min-width': '50rem'}"
        [paginator]="true"
        [showCurrentPageReport]="true"
        [resizableColumns]="true"
        [rowsPerPageOptions]="[25,50]"
        selectionMode="single"
        currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros"
        size="small"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>N°</th>
                <th>FECHA</th>
                <th>N° OPOR</th>
                <th>LEAD</th>
                <th>PROSPECTO</th>
                <th>PROBLEMA</th>
                <th>ALCANCE</th>
                <th>ACCIONES</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <!-- [pSelectableRow]="data" -->
            <tr>
                <td>{{rowIndex + 1}}</td>
                <td>{{data.startDate}}</td>
                <td>{{data.idoportunidad}}</td>
                <td>
                    <div style="width: 150px">{{data.oportunidad}}</div>
                </td>
                <td>
                    <div style="width: 200px">{{data.cliente}}</div>
                </td>
                <td>{{data.detoportunidad}}</td>
                <td>{{data.justificacion }} </td>
                
                  <td>
                        <div class="flex align-items-center m:justify-content-end">
                             @if(this.idperfil === 3){
                            <button pButton pRipple type="button" icon="pi pi-sign-in" tooltipPosition="left" pTooltip="Registrar Actividades"
                             class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0" (click)="nuevaTarea(data)" ></button> 
                             }   
                             @if(this.idperfil === 2){
                            <button pButton pRipple type="button" icon="pi pi-check" tooltipPosition="left" pTooltip="Tomar Oportunidad"
                             class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0"  ></button> 
                             }                        
                        </div>
                    </td> 
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="11">No se encontraron registros.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="11">Cargando datos. Espere por favor.</td>
            </tr>
        </ng-template>
    </p-table>
    </p-card>
    
</div>}
@if (!visOportunidad()) {
    <div class="card">
    <div class="flex justify-content-between col-12 gap-2 mb-3">
        <div>
            <button pButton class="font-semibold p-button-outlined" icon="pi pi-backward" label="Regresar" (click)="getBack()" [raised]="true"></button>
        </div>
        <div class="flex border-round fonthead w-full align-items-center">
            <span class="text-base font-bold mt-2 ml-2">{{tituloDetalle}}</span>
        </div>
    </div>    
    <app-c-tarea  [IA_data]="dataPrc"/>
</div>
    
}

@if(blockedDocument()){<app-c-progress-spinner [IS_mensaje]="mensajeSpinner()"></app-c-progress-spinner>}
<p-toast />

<p-confirmDialog styleClass="zw-confirm-dialog" key="confirm1" [style]="{width: '30rem'}"></p-confirmDialog>


