@if (visOportunidad) {
    <div class="card">
        <div class="flex border-round fonthead w-full align-items-center">
            <span class="text-base font-bold m-2">OPORTUNIDADES </span>
        </div>

        <form [formGroup]="frmDatos" class="p-fluid grid mt-3">
            <div class="flex flex-wrap gap-3 lg:w-1/1 mb-3">
                <div class="flex flex-col gap-1">
                    <label class="font-semibold">Año</label>
                    <p-datepicker formControlName="annio" view="year" dateFormat="yy" inputId="yearpicker" [showIcon]="true" size="small"></p-datepicker>
                </div>
                <div class="flex flex-col gap-1">
                    <label class="font-semibold">Quarter</label>
                    <p-select [options]="lstQ" formControlName="q" id="idQ" optionLabel="desQ" optionValue="id" size="small"></p-select>
                </div>
                <div class="flex flex-col gap-1 grow basis-0">
                    <label class="font-semibold">Cliente</label>
                    <p-select [options]="lstProveedores" placeholder="Seleccionar Cliente..." formControlName="idproveedor" size="small" optionLabel="nomcomercial" optionValue="idcliente" appendTo="body" [filter]="true"></p-select>
                </div>
                <div class="flex grow basis-0 gap-1">
                    <button pButton type="button" pTooltip="Consultar" tooltipPosition="bottom" [raised]="true" class="font-semibold mt-5 h-3rem w-3rem w-auto bg-blue-500 ml-2" icon="pi pi-search" (click)="getKanbanList()"></button>
                </div>
            </div>
        </form>

        <div id="kanban-wrapper" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropList($event)" [cdkDropListData]="lists"
        class="flex" [style]="{ 'overflow-x': 'auto' }">
            @for (list of lists; track $index) {
                <c-kanban-list (actualizarKanban)="actualizarKanban()" [list]="list" [listIds]="listIds" (verOportunidadMnt)="verOportunidadMnt($event)"></c-kanban-list>
            }
        </div>
    </div>
}

@if (visMntOportunidad) {
    <app-c-lead-reg [IS_Data]="dataOportunidad" (OB_back)="getOportunidadKanban($event)"/>
}

<p-confirmDialog styleClass="zw-confirm-dialog" key="confirm1" [style]="{width: '30rem'}"></p-confirmDialog>

@if (blockedDocument()) {
    <app-c-progress-spinner [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
}

<p-toast />
